$color-bg: #fff;
$color-fg: #111;

@function mix-lightness($a, $b, $x: 5) {
    @return ($a + $b) / 2;
}

$hue: pf-hue(#67999A);
$lightness: 34;

$color-brand: lch($lightness, 27.4, $hue);
$color-brand-light: lch(mix-lightness($lightness, pf-lightness($color-bg)), 13.5, $hue);
$color-brand-dark: lch(mix-lightness($lightness, pf-lightness($color-fg)), 26.6, $hue);

$color-bg-tint: #f8f8f8;
$color-border: $color-fg;
$color-link: $color-brand;
$color-link-focus: $color-brand-dark;

$planifolia-contrast-dark-default: $color-fg;
$planifolia-contrast-light-default: $color-bg;

$grey1: #333;
$grey2: #444;
$grey3: #ccc;

$breakpoint: 58em;

@each $color in (
    $color-bg,
    $color-fg,
    $color-bg-tint,
    $color-brand,
    $color-brand-light,
    $color-brand-dark
) {
    $_: contrast-check($color, contrast-color($color), 7);
}
