@import "vars";
@import "components/base";
@import "components/layout";
@import "components/nav";
@import "components/table";
@import "components/breadcrumb";

main {
    background: $color-bg;
    color: $color-fg;
    padding: 0.5em;
}

.brand-link {
    font-size: 300%;
    text-decoration: none;
    color: inherit;
}
