@import "less-burger-menu.min.css";

@import "../bower_components/sass-planifolia/sass/math";
@import "../bower_components/sass-planifolia/sass/contrast";

@import "vars";
@import "helpers";
@import "components/base";
@import "components/layout";
@import "components/form";
@import "components/nav";
@import "components/table";
@import "components/breadcrumb";
@import "components/header";

html {
    font-size: 90%;
    background-color: $color-brand-1;
}

body {
    margin: 1em auto 2em;
}

.brand-link img {
    max-width: 40%;
}
