@import "less-burger-menu.min.css";

@import "../bower_components/sass-planifolia/sass/math";
@import "../bower_components/sass-planifolia/sass/contrast";
@import "../bower_components/sass-planifolia/sass/color";
@import "../bower_components/sass-planifolia/sass/grid";

@import "../bower_components/mfbs/src/variables";
@import "vars";
@import "../bower_components/mfbs/src/base";
@import "../bower_components/mfbs/src/form";
@import "components/layout";
@import "components/form";
@import "components/nav";
@import "components/breadcrumb";
@import "components/header";
@import "components/article";
@import "components/subpages";
@import "components/search";

html {
    font-size: 90%;
    background-color: $color-brand;
}

.accessibility-aid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

// error message for cloaked email addresses in italics
[id^=cloak] {
    font-style: italic;

    a {
        font-style: normal;
    }
}

.page-header {
    h1, h2 {
        margin-top: 0;
    }
}
