@import url(less-burger-menu.min.css);
@viewport {
  width: device-width; }

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%; }

p, address, blockquote, pre, table, dl, ul, ol, figure {
  margin-top: 0;
  margin-bottom: 1em; }

html {
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
  color: #111;
  font-size: medium;
  font-family: sans-serif;
  line-height: 1.5; }

body {
  margin: 2em auto;
  max-width: 40em;
  padding: 0 0.5em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
  margin-top: 1em; }

a {
  color: #003466;
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    color: #67999A; }

*::selection {
  background: #003466;
  color: #fff; }

p {
  word-wrap: break-word;
  hyphens: auto; }

hr {
  border: 0;
  border-bottom: 1px solid #111;
  margin: 1em 0; }

ol, ul {
  padding-left: 2rem; }
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0; }
  ol li, ul li {
    line-height: 1.4; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2rem; }

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0; }

textarea {
  resize: vertical; }

@media print {
  html {
    background: transparent;
    color: #000; }
  h2, h3 {
    page-break-after: avoid; } }

#header-container,
#main-container,
#top,
#aside,
#footer {
  background: #fff;
  margin-bottom: 1.5em; }

#header,
#main,
#top,
#aside,
#footer {
  padding: 1em; }

@media (min-width: 58em) {
  body {
    max-width: 70.07299em; }
  #main-container {
    overflow: hidden;
    word-wrap: break-word; }
  #section-nav {
    float: left;
    width: 22.75%; }
  #main {
    float: left;
    width: 57.08333%;
    margin-left: 3%; } }

select,
textarea,
input[type=text],
input[type=search] {
  border: 1px solid #111;
  background-color: #f8f8f8;
  color: #111;
  padding: 0.1em; }

button,
input[type=submit] {
  border: 0;
  background: #003466;
  color: #fff; }
  button:hover, button:focus,
  input[type=submit]:hover,
  input[type=submit]:focus {
    background: #99CC33;
    color: #111; }

fieldset {
  margin-bottom: 1.5em; }

.icon-search:before {
  content: "Search"; }

.btn-toolbar {
  margin-bottom: 1.5em; }
  .btn-toolbar .btn-group {
    display: inline-block; }

#nav {
  font-size: 110%;
  clear: both;
  display: none; }
  #nav.is-visible {
    display: block; }
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #nav a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #nav a {
    background: #003466;
    color: #fff;
    padding: 0.5em 1.5em;
    margin-bottom: 1px; }
    #nav a:hover, #nav a:focus {
      background: #004e99;
      color: #fff; }
  #nav ul ul {
    text-indent: 2em;
    font-size: 90.90909%; }
  #nav .current > a {
    background: #320033;
    color: #fff; }
    #nav .current > a:hover, #nav .current > a:focus {
      background: #640066;
      color: #fff; }
  #nav > ul > li {
    margin-bottom: 2px; }

#section-nav {
  display: none; }
  #section-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #section-nav .nav > li.active > a,
  #section-nav .nav > li:not(.active) {
    display: none; }
  #section-nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.2em 0.5em;
    border-bottom: 1px solid black; }
    #section-nav a:hover, #section-nav a:focus {
      background: silver;
      color: #111; }
  #section-nav .current > a {
    background: #320033;
    color: #fff; }
    #section-nav .current > a:hover, #section-nav .current > a:focus {
      background: #640066;
      color: #fff; }

.menu-button {
  float: right; }

@media (min-width: 58em) {
  .menu-button {
    display: none; }
  #nav {
    display: block !important;
    overflow-x: hidden; }
    #nav ul ul {
      display: none; }
    #nav li {
      text-align: center;
      position: relative;
      float: left;
      left: 100%;
      width: 19.84%; }
      #nav li:nth-child(1) {
        margin-left: -100%; }
      #nav li:nth-child(2) {
        margin-left: -79.96%; }
      #nav li:nth-child(3) {
        margin-left: -59.92%; }
      #nav li:nth-child(4) {
        margin-left: -39.88%; }
      #nav li:nth-child(5) {
        margin-left: -19.84%; }
    #nav .nav > li.active > a {
      background: #320033;
      color: #fff; }
      #nav .nav > li.active > a:hover, #nav .nav > li.active > a:focus {
        background: #640066;
        color: #fff; }
    #nav > ul > li, #nav a {
      margin: 0; }
  #section-nav {
    display: block; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td, table th {
    text-align: start;
    padding: 0.5em;
    border-top: 1px solid #111;
    vertical-align: top; }

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0; }
  .breadcrumb li {
    display: inline-block; }

html {
  font-size: 90%;
  background-color: #67999A; }

body {
  margin: 1em auto 2em; }

.brand-link img {
  max-width: 40%; }

/*# sourceMappingURL=kub.css.map */