.item-page {
    margin-bottom: 2em;

    .icons {
        display: none;
    }
}

.article-info {
    .article-info-term {
        display: none;
    }
    dd {
        margin: 0;
    }
}

.page-header {
    font-size: 150%;
}

.blog {
    > div {
        margin-bottom: 6em;
    }

    .page-header a {
        display: block;
        text-decoration: none;
        border-bottom: 0.2em solid;
    }
}
