fieldset {
    padding: 0;
    border: 0;
}

.icon-search:before {
    content: "Search";
}

.btn-toolbar {
    margin-bottom: 1.5 * $spacer;

    .btn-group {
        display: inline-block;
    }
}

input,
button,
textarea,
select {
    line-height: normal;
    border-radius: 0;
}

.button.m-round {
    min-width: 1.8em + 2 * 0.3em;
    border-radius: 50%;
    padding: 0.3em;
}
