@media screen and (min-width: $breakpoint) {
    .homeRow {
        overflow: hidden;  // clearfix
    }
    .homeRow-address {
        @include grid-span(3, 0);
    }
    .homeRow-about {
        @include grid-span(5, 3);
        text-align: justify;
        hyphens: auto;
    }
    .homeRow-map {
        @include grid-span(4, 8);
    }
}
