#header-container,
#main-container,
#top,
#aside,
#footer {
    background: $color-bg;
    margin-bottom: 1.5em;
}

#header,
#main,
#top,
#aside,
#footer {
    padding: 1em;
}

body {
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 36em) {  // body max-width
    body {
        margin: 1em auto 2em;
        padding: 0.5em;
    }
}

@media screen and (min-width: $breakpoint) {
    body {
        max-width: 40em * 12 / 7;
    }

    #header-container {
        margin-bottom: 0;  // nav takes role of separator
    }
    #main-container {
        overflow: hidden;  // clearfix
        word-wrap: break-word;
    }
    #section-nav {
        @include grid-span(3, 0);
    }
    #main {
        @include grid-span(7, 3);
    }
}

@media print {
    body {
        max-width: none;
    }
}
