#header-container,
#main-container,
#top,
#aside,
#footer {
    background: $color-bg;
}

#main-container,
#top,
#aside,
#footer {
    margin-bottom: 1.5em;
}

#header,
#main,
#top,
#aside,
#footer {
    padding: 1em;
}

@media (min-width: $breakpoint) {
    body {
        max-width: 40em * 100% / grid-width(7);
    }

    #main-container {
        overflow: hidden;  // clearfix
        word-wrap: break-word;
    }
    #section-nav {
        @include grid-cell(3, 0);
    }
    #main {
        @include grid-cell(7, 3);
    }
}
