@mixin nav-color($color, $color-focus) {
    background: $color;
    color: contrast-color($color);

    &:hover, &:focus {
        background: $color-focus;
        color: contrast-color($color-focus);
    }
}

#nav {
    font-size: 110%;
    clear: both;

    display: none;

    &.is-visible {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        @include nav-color($color-brand, $color-brand-dark);
        padding: 0.5em 1.5em;
        margin-bottom: 1px;
    }

    ul ul {
        text-indent: 2em;
        font-size: (100% / 1.1);
    }

    ul ul ul {
        display: none;
    }

    .current > a {
        @include nav-color($color-brand-dark, $color-brand-dark);
    }

    > ul > li {
        margin-bottom: 2px;
    }
}

#section-nav {
    display: none;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav > li.active > a,
    .nav > li:not(.active) {
        display: none;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        padding: 0.2em 0.5em;
        border-bottom: 1px solid black;

        &:hover, &:focus {
            background: $color-brand-light;
            color: contrast-color($color-brand-light);
        }
    }

    ul ul ul a {
        padding-left: 2em;
    }

    ul ul ul ul {
        display: none;
    }

    .current > a {
        @include nav-color($color-brand-dark, $color-brand-dark);
    }
}

.menu-button {
    float: right;
}

@media (min-width: $breakpoint) {
    .menu-button {
        display: none;
    }

    #nav {
        display: block !important;
        overflow-x: hidden;  // clearfix

        ul ul {
            display: none;
        }

        li {
            text-align: center;
            position: relative;
            float: left;
            left: 100%;
            width: grid-width(1, 5, 0.2%);

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    margin-left: -100% + grid-width($i - 1, 5, 0.2%) + 0.2%;
                }
            }
        }

        .nav > li.active > a {
            @include nav-color($color-brand-dark, $color-brand-dark);
        }

        // reset
        > ul > li, a {
            margin: 0;
        }
    }

    #section-nav {
        display: block;
    }
}
