#search {
    padding: 0.2em;

    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

#searchForm {
    // full width searchword
    .btn-toolbar {
        display: flex;

        div:first-child {
            flex: auto;
        }
    }
    #search-searchword {
        width: 99%;
    }

    // .searchintro and .form-limit on one line
    .searchintro {
        float: left;
    }
    .form-limit {
        text-align: right;
    }

    .phrases {
        display: none;
    }
}

.search-results {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 2 * $spacer;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
            padding-bottom: 2 * $spacer;
        }
    }

    .result-category {
        font-style: italic;
    }
}
