#top .nav {
    // reset
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;  // clearfix
    text-align: center;

    a {
        display: block;
        padding: $padding;
        color: inherit;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    li {
        margin-bottom: $spacer;
        @include grid-same-width(2, ('gutter': 4%));
    }

    @media (min-width: (200px * 2)) {
        li {
            @include grid-same-width(3, ('gutter': 4%));
        }
    }

    @media (min-width: $breakpoint) {
        li {
            @include grid-same-width(6, ('gutter': 4%));
        }
    }
}
